body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-bottom: 0;
    font-size: 70px;
}
p {
    text-align: center;
    margin-bottom: 0;
    font-size: 45px;
}

.container {
    margin: 0 20% 0 20%;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
}

.board-item {
    width: 100px;
    height: 100px;
    border: solid 1px black;
    text-align: center;
    font-size: 90px;
    margin-top: 60px;
}

.board-item:hover {
    background-color: antiquewhite;
}
